apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: gateway
commonLabels:
  app: gateway
resources:
- deployment.yaml
- service.yaml
images:
- name: 320236118172.dkr.ecr.us-east-2.amazonaws.com/gateway
  newTag: 4a0e5355
